<app-header></app-header>

<div class="main-container">

    <mat-sidenav-container>
      <!--é o da esquerda-->
      <mat-sidenav #sidenav>

      </mat-sidenav>
      <mat-sidenav-content>
        <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
        <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
        <p>Events:</p>
        <div class="example-events">
         <div *ngFor="let e of events">{{e}}</div>
        </div>
      </mat-sidenav-content>


    </mat-sidenav-container>

  <router-outlet></router-outlet>
</div>
