<div>
  <mat-card class="m-20">
      <mat-card-header>
          <mat-card-title>Gerenciar Checklist</mat-card-title>

      </mat-card-header>

      <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>


          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Categoria </th>
            <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
          </ng-container>

          <ng-container matColumnDef="postDate">
            <th mat-header-cell *matHeaderCellDef> Postado Em </th>
            <td mat-cell *matCellDef="let element"> {{element.postDate | date: 'MM/dd/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="deadLine">
            <th mat-header-cell *matHeaderCellDef> Prazo Final </th>
            <td mat-cell *matCellDef="let element"> {{element.deadLine | date: 'MM/dd/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="completed">
            <th mat-header-cell *matHeaderCellDef> Completado </th>
            <td mat-cell *matCellDef="let element">

              <mat-icon color="primary" *ngIf="!element.completed" (click)="updateCompleteStatus(true)">unpublished</mat-icon>

              <mat-icon color="warn" *ngIf="element.completed" (click)="updateCompleteStatus(false)">task_alt</mat-icon>

              {{element.completed}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Ações</th>
            <td mat-cell *matCellDef="let element">

              <button mat-raised-button color="warn" (click)="updateChecklistItem(element)" class="mr-10">Editar</button>

              <button mat-raised-button color="primary" (click)="deleteChecklistItem(element)" class="mr-10">Apagar</button>


            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>



      </mat-card-content>
      <mat-card-actions>
          <a mat-raised-button color="warn"  class="mr-10" routerLink="[/]">Home</a>
          <a mat-raised-button color="primary" class="mr-10" (click)="createNewItem()">Novo Item</a>

      </mat-card-actions>

  </mat-card>
</div>


